@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader';
    src: url('/fonts/Newsreader-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Make all strokes have the same width, regardless of size. Matches up with Figma */
svg:not(.ignore-no-scaling) * {
    vector-effect: non-scaling-stroke;
}
